@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   body {
  width: 100vw;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px 'Montserrat', sans-serif;
}
   .math-games {
       background: #fcfcfc;
       padding: 10px;
       border-radius: 10px;
       box-shadow: 2px 5px 10px #34495e;
       width: 250px;
       height: 250px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   input {
       border: 1px dashed #333;
       outline: none;
       border-radius: 5px;
       background: none;
   }
   .red {
       color: red;
   }
   .blue {
       color: blue;
   }
.math-games span {
    font: 40px "Indie Flower", cursive;
}
button {
    border: none;
    background: #1abc9c;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
}
.items {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
.modal-container {
    position: absolute;
    right: 50px;
    bottom: 40px;
    width: 350px;
    height: 100px;
    border: 1px solid #555;
    padding: 20px;
    background: #e74c3c;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px #555;
}
.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
}
.close:hover {
    cursor: pointer;
}